body{
    background-color: #fffbff;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerText {
    text-align: center;
}

.largeFont {
    font-size: 1rem !important;
}